.btn-delete{
    color: white;
    background-color: red;
    margin-left: 850px;
    border-radius: 10px;
    border: none;
    padding: 20px;
    transition: all 0.3s;
     cursor: pointer;
}


.btn-delete:hover{
    transform: scale(1.1);
}